<section class="success" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>About</h3>
                <hr class="star-secondary">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xl-5" style="padding-bottom: 10px;">
                <p class="about-text">
                    I'm a software developer with experience in machine learning and full-stack web development; my specialization is in <b>music information retrieval</b> and <b>natural language processing</b> tasks
                    like metadata labelling, classification, and translation. I have built microservices and standalone applications from scratch but have also contributed to large-scale production-level projects.
                    Whether your looking for someone to fire up your machine learning pipeline or to build out a new prediction API, look no further.
                </p>
                <p class="about-text">
                    For more details, check out my portfolio or click below to view my CV. Don't hesitate to ask me any questions!
                </p>
            </div>
            <div class="align-self-center text-center col-xs-4 col-sm-6 col-md-5 col-lg-5 col-xl-3">
                <img src="/assets/images/max.jpg" class="img-fluid profile-img">
            </div>
        </div>
        <div class="row justify-content-center whitepaper">
            <a href="/assets/CV_MaxKraan_August2020.pdf" class="btn btn-lg btn-outline">
                <i class="fa fa-file"></i> CV
            </a>
        </div>
    </div>
</section>