<section class="success" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>About</h3>
                <hr class="star-secondary">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xl-5" style="padding-bottom: 10px;">
                <p class="about-text">
                    I'm currently active as a machine learning engineer and researcher in the audio and music technology space. As a researcher, I focus on tasks such as automatic music and drum transcription and sequence representation learning. More generally, I have experience going through the process of researching, evaluating, and efficiently implementing machine learning algorithms, including deep neural networks, to solve a number of business problems. As an engineer, I'm comfortable porting and implementing machine learning models to various native deployment platforms and creating robust inference APIs. Generally, I like to dabble and learn in any and all technologies that I come into contact with and am always eager to try out something new.
                </p>
                <!-- <p class="about-text">
                    For more details, check out my portfolio or click below to view my CV. Don't hesitate to ask me any questions!
                </p> -->
            </div>
            <div class="align-self-center text-center col-xs-4 col-sm-6 col-md-5 col-lg-5 col-xl-3">
                <img src="/assets/images/max.jpg" class="img-fluid profile-img">
            </div>
        </div>
        <!-- <div class="row justify-content-center whitepaper">
            <a href="/assets/CV_MaxKraan_August2020.pdf" class="btn btn-lg btn-outline">
                <i class="fa fa-file"></i> CV
            </a>
        </div> -->
    </div>
</section>